---
import Wrapper from "../ui/Wrapper.astro";
---

<section class="hero">
    <Wrapper classes="display:grid placeContent:center text-center">
        <h1>Diseña mejor y más rápido</h1>
        <p>Fotos, vídeos, vectores, PSD, imágenes con IA, iconos y más contenido de calidad para darles vida a tus ideas</p>
    </Wrapper>
</section>