

.cardProyect {
    --_scale: var(--scale, 1);
    --_opacity: var(--opacity, 1);
    --_moveX: var(--moveX, 0);

    display: grid;
    background-color: var(--color, black);
    padding: 1rem;
    overflow: hidden;
    border-radius: .5rem;

    &:hover {
      --scale: 1.7;
      --opacity: 0;
      --moveX: -1rem;
    }

    > * {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__img {
      width: 70%;
      aspect-ratio: 1;
      justify-self: end;
      transform-origin: top right;
      transition: transform 0.4s;
      transform: scale(var(--_scale));
    }

    &__content {
      // background-color: rgba(220, 20, 60, 0.492);
      justify-self: start;
      align-self: center;
      width: 60%;
      color: white;
      pointer-events: none;
      transition:
        opacity 0.4s,
        transform 0.4s;
      z-index: 1;
      opacity: var(--_opacity);
      transform: translateX(var(--_moveX));
    }
  }