@use "../settings/" as *;

.header {
  --_color-logo: white;
  --_background-header: transparent;
  --_color-link: white;
  --_background-link: transparent;
  --_background-link-hover: transparent;
  --_color-link-hover: rgb(195, 195, 195);

  position: fixed;
  top: 0;
  width: 100vw;
  display: grid;
  padding-block: 0.5rem;
  transition: background 0.4s;
  background-color: var(--_background-header);

  &__btn {
    color: var(--_color-link);
  }

  &--theme {
    --_color-logo: black;
    --_background-header: white;
    --_color-link: rgb(0, 0, 0);
    --_background-link: transparent;
    --_background-link-hover: transparent;
    --_color-link-hover: rgb(117, 117, 117);
  }
}

.sidebar-area {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  bottom: 0;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.4s;
  z-index: 100;
  

  > button {
    width: fit-content;
    padding-left: var(--_padding-left-link);
    background-color: black;
    color: white;
    padding-right: var(--_padding-left-link-initial);
    margin-left: 1rem;
  }

  &.active {
    transform: translateX(0);
  }

  @include media-Query(md) {
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    transition: none;
    transform: translateX(0);
    background-color: transparent;
    overflow-y: visible;
  }
}

.overlay {
  @include max-media-Query(md) {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.656);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.4s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    pointer-events: none;
  }
}

.level {
  --_padding-left-link-initial: 1rem;

  &--1 {
    --_padding-left-link: calc(var(--_padding-left-link-initial) * 1);

    @include media-Query(md) {
      --_padding-left-link: var(--_padding-left-link-initial);
    }
  }

  &--2 {
    --_padding-left-link: calc(var(--_padding-left-link-initial) * 2);

    @include media-Query(md) {
      --_padding-left-link: var(--_padding-left-link-initial);
      --_padding-block-link: 0.4rem;
      --_color-link: black;
      --_background-link: transparent;
      --_background-link-hover: black;
      --_color-link-hover: rgb(255, 255, 255);
    }
  }
  &--3 {
    --_padding-left-link: calc(var(--_padding-left-link-initial) * 3);

    @include media-Query(md) {
      --_padding-left-link: var(--_padding-left-link-initial);
    }
  }
}

.navbar {
  &__link {
    display: block;
    padding-left: var(--_padding-left-link);
    padding-block: var(--_padding-block-link, 0.7rem);
    padding-right: var(--_padding-left-link-initial);
    color: rgb(46, 46, 46);

    &:hover {
      background-color: rgb(235, 235, 235);

      @include media-Query(md) {
        color: var(--_color-link-hover);
        background-color: var(--_background-link-hover);
      }
    }

    @include media-Query(md) {
      color: var(--_color-link);
      background-color: var(--_background-link);
    }
  }

  &__dropdown {
    position: relative;

    &-button {
      padding-left: var(--_padding-left-link);
      padding-block: var(--_padding-block-link, 0.7rem);
      padding-right: var(--_padding-left-link-initial);

      &.active {
        background-color: black;
        color: white;

        @include media-Query(md) {
          color: var(--_color-link);
          background-color: var(--_background-link);
        }
      }

      @include media-Query(md) {
        gap: 0.5rem;
        color: var(--_color-link);

        &:hover {
          color: var(--_color-link-hover);
          background-color: var(--_background-link-hover);
        }
      }

      @include max-media-Query(md) {
        &:not(.active):hover {
          background-color: rgb(235, 235, 235);
        }
      }
    }

    @include media-Query(md) {
      &:hover > .navbar__dropdown-content > div > .navbar__submenu {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__submenu {
    $submenu: &;

    & #{$submenu} {
      @include media-Query(md) {
        left: 100%;
        top: 0;
      }
    }

    @include media-Query(md) {
      --_color-link: rgb(46, 46, 46);
      position: absolute;
      top: 100%;
      opacity: 0;
      pointer-events: none;
      background-color: rgb(255, 255, 255);
      min-width: 11rem;
      // transition: opacity .4s;
    }
  }
}
