@use '../settings/' as *;

.section-page{
    --_background : var(--background, transparent) ;
    background-color: var(--_background);

    &--theme1{
        --background: var(--colors-success);
    }
    &--theme2{
        --background : var(--colors-primary);
    }
}