@use '../settings/' as *;

.slipt{

    &--cta{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "contenido";
        gap: 1rem;

        > *:first-child{
            grid-area: contenido;
            --_space: 2em;
        }

        > *:last-child{
            grid-area: imagen;
            display: none;
        }

        @include media-Query(md){
            grid-template-columns: 5fr 3fr;
            grid-template-areas: "contenido imagen";

            > *:last-child{
                display: block;
            }
        }
    }

    &--about{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;

        @include media-Query(md){
            grid-template-columns: 6fr 4fr;
        }
    }

    &--form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @include media-Query(md){
            grid-template-columns: 1fr 1fr;
        }
    }
}