

.button{

    --_text-color :  var(--text-color, #000);
    --_bg-color :  var(--bg-color, #fff);
    --_bg-color-hover :  var(--bg-color-hover, #2f2f2f);
    --_text-color-hover :  var(--text-color-hover, #fff);

    background-color: var(--_bg-color);
    padding: .5em 1.5em;
    border-radius: .25em;
    color: var(--_text-color);
    font-weight: 600;

    &:is(:hover, :focus){
        background-color: var(--_bg-color-hover);
        color: var(--_text-color-hover);
        
    }

    &--theme1{
        --text-color :  var(--color-black-000);
        --bg-color :  var(--color-secondary-300);
        --bg-color-hover :  var(--color-secondary-500);
        --text-color-hover :  var(--color-black-000);
    }
    &--theme2{
        --text-color :  var(--color-black-000);
        --bg-color :  var(--color-white-000);
        --bg-color-hover :  var(--color-white-100);
        --text-color-hover :  var(--color-black-100);
    }
    &--theme3{
        --text-color :  var(--color-white-000);
        --bg-color :  var(--color-green-500);
        --bg-color-hover :  var(--color-green-700);
        --text-color-hover :  var(--color-white-000);
    }

    &--content{
        width: fit-content;
    }
    

}