.aspect-ratio-video {
  aspect-ratio: 16/9;
}

.aspect-ratio-box {
  aspect-ratio: 1;
}

.text-center {
  text-align: center;
}

.text-rigth {
  text-align: right;
}

.text-left {
  text-align: left;
}

.\@md\/text-left {
  @media screen and (width >= 768px) {
    text-align: left;
  }
}

.icon-circle {
  display: grid;
  place-items: center;
  width: var(--width-circle-icon, 3em);
  aspect-ratio: 1;
  background-color: var(--color-circle-icon, #646464);
  border-radius: 50%;
}

.textFlow > *:not(:first-child) {
  margin-block-start: var(--_space, 1em);
}

.title-section {
  font-size: var(--fs-title1);
  padding-block-end: var(--padding-section);
  line-height: normal;
}

.fs-superTitle {
  font-size: var(--fs-superTitle);
  line-height: normal;
}
.fs-superTitleSub {
  font-size: var(--fs-superTitleSub);
  line-height: normal;
}

.padding-section {
  padding-block: clamp(3.5rem, 5vw + 2.25rem, 6rem);
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
