@use './breakpoints.scss' as * ;

@mixin media-Query($breakpoint) {
    @if map-has-key($breakpoints , $breakpoint ) {
        @media screen and (width > map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @media screen and (width > $breakpoint) {
            @content;
        }
    }
}

@mixin titles($fs, $color, $line-height : inherit , $fw : inherit){
    font-size: $fs;
    color: $color;
    line-height: $line-height;
    font-weight: $fw;
}

@mixin generate-utility-classes($map, $classDefinitions, $prefix: "") {
    @each $key, $value in $map {
      $currentPrefix: if($prefix == "", $key, "#{$prefix}-#{$key}");
      
      @if type-of($value) == 'map' {
        @include generate-utility-classes($value, $classDefinitions, $currentPrefix);
      } @else {
        @each $classDefinition in $classDefinitions {
          $classPrefix: map-get($classDefinition, prefix);
          $cssProperty: map-get($classDefinition, property);
  
          .#{$classPrefix}-#{$currentPrefix} {
            #{$cssProperty}: var(--color-#{$currentPrefix});
          }
        }
      }
    }
  }
  