@use "../settings/" as *;

// Definición de los mapas para Flexbox y Grid
$margin-auto: ("Top", "Rigth", "Left", "Bottom", "Block", "Inline");

@each $value in $margin-auto {
  .margin#{$value}\:auto {
    margin-#{lowercase-first-letter($value)}: auto;
  }
}

@for $i from 1 through 12{
  .gap\:#{$i}{
    gap: #{$i * .25rem};
  }
  .rowGap\:#{$i}{
    row-gap: #{$i * .25rem};
  }
  .columnGap\:#{$i}{
    column-gap: #{$i * .25rem};
  }
}

@for $i from 1 through 12{
  .padding\:#{$i}{
    padding: #{$i * .25rem};
  }
  
}

.padding-section {
  padding-block: $padding-section;
}
.mx-auto {
  margin-inline: auto;
}
