@use '../settings/' as *;


.split {
    display: grid;
    grid-template-areas: "imagen" "content";
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1.5rem;

    > :nth-child(1) {
        grid-area: content;
    }

    > :nth-child(2) {
        grid-area: imagen;
    }

    &--top-left{
        grid-template-areas: "content" "imagen" ;
        @include media-Query(tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "content imagen";
        }
    }

    &--top-rigth{
        grid-template-areas: "content" "imagen" ;
        @include media-Query(tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "imagen content";
        }
    }
    &--bottom-left{
        grid-template-areas:  "imagen" "content";
        @include media-Query(tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "content imagen";
        }
    }
    &--bottom-rigth{
        grid-template-areas:  "imagen" "content";
        @include media-Query(tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "imagen content";
        }
    }

    


}