@use "../settings/" as *;

.text-center{
    text-align: center;
}

.text-rigth{
    text-align: right;
}

.text-left{
    text-align: left;
}

.\@md\/text-left{
    
    @include media-Query(md){
        text-align: left;
    }
}