@use '../settings' as *;

.title-2{
    @include titles( $fs-title1 , $color-primary-800 , normal , $fw-700 );
}

.title-section{
    @include titles( $fs-title1 , $color-primary-800 , normal , $fw-700 );
    padding-block-end: $padding-section;
}

.fs-superTitle{
    @include titles( $fs-superTitle , $color-neutral-000 , normal );
}

.fw-400{
    font-weight: $fw-400;
}
.fw-500{
    font-weight: $fw-500;
}
.fw-600{
    font-weight: $fw-600;
}
.fw-700{
    font-weight: $fw-700;
}
.fw-800{
    font-weight: $fw-800;
}