@use '../settings' as *;



.title-section{
    font-size: $fs-title1;
    padding-block-end: $padding-section;
    line-height: normal;
}

.fs-superTitle{
    font-size: $fs-superTitle;
    line-height: normal;
    
}
.fs-superTitleSub{
    font-size: $fs-superTitleSub;
    line-height: normal;
    
}

.fw-400{
    font-weight: $fw-400;
}
.fw-500{
    font-weight: $fw-500;
}
.fw-600{
    font-weight: $fw-600;
}
.fw-700{
    font-weight: $fw-700;
}
.fw-800{
    font-weight: $fw-800;
}

.line-heigth{
    line-height: normal;
}