@use '../settings' as *;

.title-2{
    @include titles( $fs-title1 , $color-primary-800 , normal , $fw-700 );
}

.title-section{
    @include titles( $fs-title1 , $color-primary-800 , normal , $fw-700 );
    padding-block-end: $padding-section;
}

.superTitle{
    @include titles( $fs-superTitle , $color-neutral-000 , normal );
}