@use '../settings/' as *;

*,
*::before,
*::after {

    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    
    font-family: "Inter", system-ui;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    background-color: hsl(0, 0%, 95%);

    > footer{
        margin-top: auto;
        padding-block: 1rem;
        background-color: rgb(45, 45, 45);
        color: white;
        text-align: center;
        
    }
    
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

video,
svg {
    display: block;
    width: 100%;
}

img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

h1, .fs-title1{
    font-size: $fs-title1;
}
h2, .fs-title2{
    font-size: $fs-title2;
}

h3, .fs-title3{
    font-size: $fs-title3;
}

h4, .fs-normal{
    font-size: $fs-normal;
}

h5,small, .fs-small{
    font-size: $fs-small;
}

input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
    appearance: none;
    background-color: #fff;
    border-radius: 50%;
    
  }
  
  input[type="radio"]::before {
    content: "";
    width: 3vmin;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fccb1a;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
