---
import '../scss/index.scss';
import HeroHome from '@/sections/Hero-Home.astro';
import Navbar from '@/sections/Navbar.astro';
import MenuData from "../data/Menu.json";
import NewCourse from '@/sections/NewCourse.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- <Navbar ArrayItems={MenuData} />
		<HeroHome/> -->
		<NewCourse />
	</body>
</html>

<style is:global lang="scss">

	
</style>
