---
import type { HTMLAttributes } from "astro/types";

const button = {
    defaultClass: "button",
    variants: {
        theme: {
            theme1: "button--theme1",
            theme2: "button--theme2",
            theme3: "button--theme3",
        },
        size: {
            content: "button--content"
        },
    },
};

interface Props extends HTMLAttributes<"a"> {
    variant?: keyof typeof button.variants.theme;
    size?: keyof typeof button.variants.size;
}

const { variant = "theme1", size, ...attrs } = Astro.props;
---

<a class:list={[button.defaultClass, button.variants.theme[variant], button.variants.size[size]  ]} {...attrs}>
    <slot />
</a>
