---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<'li'>{
    iconName: string;
    text: string;
    colorIcon?: string;
    colorText?: string;
    size : number;
    classes? : string;
}

const { iconName, text, colorIcon = '#000', colorText = '#000', size, classes } = Astro.props;
---

<li class:list={[ 'icon-text', classes ]}>
    <span class="icon-text__icono" style=`--_colorIcon : ${colorIcon};`>
        <Icon name={ iconName } size={ size } />
    </span>
    <p class="icon-text__parrafo" style=`--_colorText : ${colorText};`>{text}</p>
</li>

<style lang="scss">
    .icon-text {

        display: flex;
        gap: 0.7rem;

        &__icono {
            color: var(--_colorIcon);
        }

        &__parrafo {
            color: var(--_colorText);
        }
    }
</style>
