---
import type { HTMLAttributes } from "astro/types";
type size  = "sm";

interface Props extends HTMLAttributes<"div"> {
    classUtilities?: string;
    classBlock? : string;
    size?: size;
}

const { classBlock , classUtilities, size , ...attrs } = Astro.props;
---

<div
    class:list={[ "wrapper-layout",classBlock , classUtilities]}
    {...(size && { 'data-size': size })}
    {...attrs}
>
    <slot />
</div>

<style lang="scss">
    @use "../scss/settings/" as *;

    .wrapper-layout {
        --max-width: #{$wrapper-layout-max-width};

        width: min(90%, var(--max-width));
        margin-inline: auto;

        &[data-size="sm"] {
            --max-width: #{$wrapper-layout-max-width-sm};
        }
    }

    
</style>
