<section class="slider slider2">
  <ul class="slider__list slider2">
    <li class="slider__item" data-slider="0" data-positionValue="0">
      <img src="/img/balanza5.webp" alt="" />
    </li>
    <li class="slider__item" data-slider="1" data-positionValue="-100%">
      <img src="/img/balanza6.webp" alt="" />
    </li>
    <li class="slider__item" data-slider="2" data-positionValue="-200%">
      <img src="/img/balanza7.webp" alt="" />
    </li>
    <li class="slider__item" data-slider="3" data-positionValue="-300%">
      <img src="/img/banner.webp" alt="" />
    </li>
  </ul>

  <nav class="slider__nav slider2">
  </nav>
</section>

