---
import { Icon } from "astro-icon/components";
import sliderData from "../data/SliderImg";
---

<section class="Slider" id="Slider">
    <ul class="Slider__lista" id="SliderLista" data-autoplay="true">
        {
            sliderData.map(({ img, alt }, index) => {
                return (
                    <li
                        class:list={[`Slider__item`, { active: index === 0 }]}
                        data-moveTransition={`-${(index + 1) * 100}%`}
                    >
                        {img.map((imagen) => {
                            return <img src={`/img/${imagen}`} {alt} />;
                        })}
                    </li>
                );
            })
        }
    </ul>
    <div class="Slider__wrapper">
        <article class="Slider__content">
            <h1>Titulo</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perspiciatis necessitatibus tempora culpa saepe corporis
                possimus nemo dolorem incidunt pariatur.
            </p>
            <a href="#">Inicia Ahora</a>
        </article>
    </div>
    <button class="Slider__btnMoveLeft" id="MoveLeft" >
        <Icon name="ArrowIcon" size={25} />
    </button>
    <button class="Slider__btnMoveRigth" id="MoveRigth">
        <Icon name="ArrowIcon" size={25} />
    </button>
    <nav class="Slider__nav" id="SliderDots">
        {
            sliderData.map((_, index) => {
                return (
                    <button
                        class:list={[`Slider__dot`, { active: index === 0 }]}
                        data-moveTransition={`-${(index + 1) * 100}%`}
                    />
                );
            })
        }
    </nav>
</section>

<style lang="scss">
    .Slider {
        height: 100vmin;
        min-height: 70svh;
        position: relative;
        overflow-x: hidden;
        scrollbar-width: none;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: #100077c3;
            z-index: 5;
        }

        &__lista {
            --Move: 0;
            --transition: none;

            position: absolute;
            inset: 0;
            display: flex;
            transition: var(--transition) cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform: translateX(var(--Move));
        }

        &__item {
            width: 100%;
            flex-shrink: 0;
        }

        &__wrapper {
            height: 100%;
            display: grid;
            position: relative;
            z-index: 10;
        }

        &__content {
            color: white;
            width: min(90%, 1000px);
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            text-align: center;

            > h1{
                font-size: 9vmin;
            }

            > p {
                width: min(85%, 70ch);
                margin-inline: auto;
                line-height: 1.5;
                // font-size: 3vw;
            }

            > a{
                
                width: fit-content;
                color: white;
                text-decoration: none;
                border: 2px solid white;
                padding: .4em .8em;
                border-radius: .2em;
            }
        }

        &__btnMoveLeft {
            position: absolute;
            top: 50%;
            left: 2vw;
            transform: translateY(-50%);
            z-index: 20;
            border-radius: 50%;
            outline: 2px solid white;
            color: white;
            padding: 0.3em;

            > svg {
                transform: rotate(-90deg);
                pointer-events: none;
            }
        }
        &__btnMoveRigth {
            position: absolute;
            top: 50%;
            right: 2vw;
            transform: translateY(-50%);
            z-index: 20;
            border-radius: 50%;
            outline: 2px solid white;
            color: white;
            padding: 0.3em;

            > svg {
                transform: rotate(90deg);
                pointer-events: none;
            }
        }

        &__nav {
            position: absolute;
            display: flex;
            left: 50%;
            bottom: 5%;
            transform: translateX(-50%);
            gap: 1rem;
            z-index: 20;
        }

        &__dot {
            width: 15px;
            aspect-ratio: 1;
            outline: 2px solid white;
            border-radius: 50%;

            &.active {
                background-color: white;
            }
        }
    }
</style>

<script>
    const $Slider = document.getElementById("Slider");
    const $SliderLista = document.getElementById("SliderLista");
    const ArrayItemLista = Array.from($SliderLista.children);
    const $SliderDots = document.getElementById("SliderDots");
    const ArrayDots = Array.from($SliderDots.children);
    type DIRECTION = "LEFT" | "RIGHT";
    let inInTransition = false;
    let autoPlaySlider;
    const $ClonePositionInitial = ArrayItemLista[ArrayItemLista.length - 1].cloneNode(true) as HTMLElement;
    const $ClonePositionLast = ArrayItemLista[0].cloneNode(true) as HTMLElement;

    const getItemofArray = (index: number | 'initial' | 'last' , array: any[]): Element => {
        if (index === 'initial') {
        return array[0];
        } else if (index === 'last') {
            return array[array.length - 1];
        } else if (typeof index === 'number') {
            return array[index];
        } else {
            throw new Error('Invalid index');
        }
        };

    const setDotSlider = (itemSliderToFocus: Element, direction: DIRECTION) => {
        const DotActive = $SliderDots.querySelector(".Slider__dot.active");
        const firstDot = getItemofArray('initial', ArrayDots);
        const lastDot = getItemofArray('last', ArrayDots);

        if (DotActive) {
            DotActive.classList.remove("active");
        }

        if (direction === "LEFT") {
            if (itemSliderToFocus.hasAttribute("data-itemInicio")) {
                lastDot.classList.add("active");
            } else {
                DotActive.previousElementSibling.classList.add("active");
            }
        } else {
            if (itemSliderToFocus.hasAttribute("data-itemFinal")) {
                firstDot.classList.add("active");
            } else {
                DotActive.nextElementSibling.classList.add("active");
            }
        }
    };

    const moveSLider = (direction: DIRECTION) => {
        if (inInTransition) return;

        $SliderLista.style.setProperty("--transition", "transform .5s");
        const itemSliderActive = $SliderLista.querySelector(".Slider__item.active");
        let $ElementToFocus : Element;

        if (direction === "LEFT") {

            $ElementToFocus = itemSliderActive.previousElementSibling;
            setDotSlider($ElementToFocus, direction);
            $SliderLista.addEventListener( "transitionend", () => transitionSlider(direction, $ClonePositionInitial), { once: true });

        } else if (direction === "RIGHT") {

            $ElementToFocus = itemSliderActive.nextElementSibling;
            setDotSlider($ElementToFocus, direction);
            $SliderLista.addEventListener("transitionend", () => transitionSlider(direction, $ClonePositionLast), { once: true });
        }

        const getMoveTransform = $ElementToFocus.getAttribute( "data-moveTransition" );

        if (itemSliderActive) {
            itemSliderActive.classList.remove("active");
        }

        $ElementToFocus.classList.add("active");
        $SliderLista.style.setProperty("--Move", `${getMoveTransform}`);

        stopAutoPlay(); 
            startAutoPlay(); 
        inInTransition = true;
    };

    const transitionSlider = (direction: DIRECTION, elemento: Element) => {
        $SliderLista.style.setProperty("--transition", "none");

        if (direction === "LEFT") {
            const primerItem = elemento;

            if (primerItem.classList.contains("active")) {
                primerItem.classList.remove("active");
                $SliderLista.style.setProperty("--Move", `${getItemofArray('last', ArrayItemLista).getAttribute('data-moveTransition')}`);
                getItemofArray('last', ArrayItemLista).classList.add("active");
            }

        } else if (direction === "RIGHT") {
            const ultimoItem = elemento;

            if (ultimoItem.classList.contains("active")) {
                ultimoItem.classList.remove("active");
                $SliderLista.style.setProperty("--Move", `${getItemofArray('initial', ArrayItemLista).getAttribute('data-moveTransition')}`);
                getItemofArray('initial',ArrayItemLista).classList.add("active");
            }
        }

        inInTransition = false;
    };

    const loadSliderInitial = () => {
        $SliderLista.style.setProperty("--transition", "none");
        $SliderLista.style.setProperty("--Move", "-100%");

        $ClonePositionInitial.setAttribute("data-moveTransition", `0`);
        $ClonePositionInitial.setAttribute("data-itemInicio", "");

        $ClonePositionLast.classList.remove("active");
        $ClonePositionLast.setAttribute("data-moveTransition",`-${(ArrayItemLista.length + 1) * 100}%`);
        $ClonePositionLast.setAttribute("data-itemFinal", "");

        $SliderLista.prepend($ClonePositionInitial);
        $SliderLista.append($ClonePositionLast);
    };

    $Slider.addEventListener("click", (e) => {
        const ElementActual = e.target as HTMLElement;

        if (ElementActual.id === "MoveLeft") {
            moveSLider("LEFT");
        }
        if (ElementActual.id === "MoveRigth") {
            moveSLider("RIGHT");
        }
        if (ElementActual.classList.contains("Slider__dot")) {

            const DotActive = $SliderDots.querySelector(".Slider__dot.active");
            const itemSliderActive = $SliderLista.querySelector(".Slider__item.active");
            const moveTransition = ElementActual.getAttribute("data-moveTransition");

            $SliderLista.style.setProperty("--transition", "transform .5s");
            $SliderLista.style.setProperty("--Move", `${moveTransition}`);

            if (itemSliderActive) {
                itemSliderActive.classList.remove("active");
            }
            if (DotActive) {
                DotActive.classList.remove("active");
            }

            ElementActual.classList.add("active");
            ArrayItemLista[ArrayDots.indexOf(ElementActual)].classList.add( "active" );
            stopAutoPlay(); 
            startAutoPlay(); 
        }
    });

    loadSliderInitial();

    const startAutoPlay = () => {
        if ($SliderLista.getAttribute("data-autoPlay") === "false") return;
        autoPlaySlider = setInterval(() => {
            moveSLider("RIGHT");
        }, 8000);
    };

    const stopAutoPlay = () => {
        if ($SliderLista.getAttribute("data-autoPlay") === "false") return;
        clearInterval(autoPlaySlider);
    };

    startAutoPlay();

    $Slider.addEventListener("mouseenter", () => {
        // stopAutoPlay();
    });

    $Slider.addEventListener("mouseleave", () => {
        // startAutoPlay();
    });
</script>
