---
import type { HTMLAttributes } from "astro/types";

const wrapper = {
    defaultClass: "wrapper",
    variants: {
        large: "wrapper--lg",
        medium: "wrapper--sm",
    },
    align : {
        left: 'text-start',
        center: 'text-center',
        end: 'text-end',
    },
};

interface Props extends HTMLAttributes<"div"> {
    variant?: keyof typeof wrapper.variants;
    align?: keyof typeof wrapper.align;

    classBlock?: string;
    
}

const { variant = 'large', classBlock, align, ...attrs } = Astro.props;
---

<div class:list={[wrapper.defaultClass, classBlock, wrapper.variants[variant] , wrapper.align[align]]} {...attrs}>
    <slot />
</div>
