---
import SectionPage from "@/components/ui/SectionPage.astro";
import Split from "@/components/ui/Split.astro";


---

<SectionPage>
    <Split size="about"  >
        <div class="textFlow alignItems:center">
            <h2 class="color-white-000">Conoceme</h2>
            <p class="color-white-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum incidunt et maxime enim quos ducimus earum, ut quibusdam libero porro atque labore, dicta ipsam? Vero eum praesentium expedita adipisci. A?</p>
            <p class="color-white-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum incidunt et maxime enim quos ducimus earum, ut quibusdam libero porro atque labore, dicta ipsam? Vero eum praesentium expedita adipisci. A?</p>
        </div>
        <img class="aspect-ratio-box" src="https://i.pinimg.com/736x/8b/c1/03/8bc103afbea75b591370177c9b18e52d.jpg" alt="">
    </Split>
</SectionPage>