---
import Split from "@/components/ui/Split.astro";
import { Image } from "astro:assets";
import foto from "@/assets/img/Group 52.png";
---

<section class="section-page" id="conoceme">
  <Split size="about">
    <div class="textFlow alignItems:center section-page-flow">
      <h2 class="fs-title-1 color-white-000">C칩noceme</h2>
      <div>
        <p class="color-white-200">
          Hola soy Enrique Calero, inicie en el mundo del Dise침o Web a los 18
          a침os. Actualmente <strong class="color-white-000 underline-text fw-700">dise침o y maqueto sitios web a medida.</strong>
        </p>
        <br/>
        <p class="color-white-200">
          Me encanta maquetar sitios web <strong class="color-white-000 underline-text fw-700"
            >a partir de una pieza grafica</strong
          >, siguiendo buenas practicas
        </p>
        <br/>
        <p class="color-white-200">
          Antes de entregar un proyecto me gusta <strong
            class="color-white-000 underline-text fw-700">optimizar el rendimiento web</strong
          >, para ofrecer una mejor experiencia a sus usuario
        </p>
      </div>
      
    </div>
    <Image
    style={`aspect-ratio: ${foto.width} / ${foto.height}`}
      width={foto.width}
      src={foto}
      alt="enrique calero"
    />
  </Split>
</section>


