---
import Button from "@/components/Atoms/Button.astro";
import Typografic from "@/components/Typografic.astro";
import Wrapper from "@/components/ui/Wrapper.astro";

import { getImage } from "astro:assets";



---

<section class="hero" style={`--image : url('/img/porta-banner.webp')`} >
  <div class="wrapper">
    <h1 class="fs-super-title-2">Enrique Calero</h1>
    <p class="color-white-200">Diseñador y Programador <br /> Web Frontend</p>
    <footer>
      <a href="/#contacto" class="button button--primary">Contáctame</a>
      <a href="/CV_LUIS_CALERO.pdf" download class="button button--oneline">Descargar CV</a>
    </footer>
  </div>
</section>

<style lang="scss">
  .hero {
    position: relative;
    
    // overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 120%;
      height: 924px;
      // background-color: crimson;
      z-index: -50;
      background-image: var(--image);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      filter: blur(74px);
    }

    > div {
      color: white;
      height: 100svh;
      display: grid;
      place-content: center;
      text-align: center;
      gap: 1rem;

      > footer {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
      }
    }
  }
</style>
