---
import Button from "@/components/Atoms/Button.astro";
import Typografic from "@/components/Typografic.astro";
import Wrapper from "@/components/ui/Wrapper.astro";
---

<section class="hero">
    
    <Wrapper classes="textFlow text-center">
        <Typografic as="h1" size="superTitle" theme="theme2">Enrique Calero</Typografic>
        <p>Diseñador y Desarrollador <br> Web Frontend</p>
        <footer class="display:flex gap:5 justifyContent:center" >
            <Button as="button">Contratame</Button>
        <Button as="button">Descargar CV</Button>
        </footer>
        
    </Wrapper>
</section>