---
import Typografic from "@/components/Typografic.astro";
import SectionPage from "@/components/ui/SectionPage.astro";
import Split from "@/components/ui/Split.astro";


---

<SectionPage theme="background2">
    <Split size="form">
        <img src="/img/form.svg" alt="cta accion">
        <form class="form" >
            <Typografic as="h2">Contacto</Typografic>
            <input type="text" placeholder="nombre">
            <input type="text" placeholder="nombre">
            <input type="text" placeholder="nombre">
            <input type="text" placeholder="nombre">
        </form>
    </Split>
</SectionPage>