---
import Button from "@/components/Atoms/Button.astro";
import Typografic from "@/components/Typografic.astro";
import SectionPage from "@/components/ui/SectionPage.astro";
import Split from "@/components/ui/Split.astro";
---

<SectionPage theme="background2">
  <Split size="form">
    <form class="form color-white-300">
      <Typografic as="h2" theme="theme2">Contacto</Typografic>
      <input type="text" aria-label="nombre" placeholder="Nombre" />
      <input type="email" aria-label="Correo" placeholder="Correo" />
      <input
        type="tel"
        aria-label="Numero de contacto"
        placeholder="Número de contacto"
      />
      <textarea aria-label="Mensaje" placeholder="Mensaje"></textarea>
      <Button as="button">Enviar</Button>
    </form>
    <img src="/img/form.svg" alt="cta accion" />
  </Split>
</SectionPage>
