---
import Button from "@/components/Atoms/Button.astro";
import Typografic from "@/components/Typografic.astro";
import SectionPage from "@/components/ui/SectionPage.astro";
import Split from "@/components/ui/Split.astro";
import Wrapper from "@/components/ui/Wrapper.astro";


---

<SectionPage theme="theme2">
    <Split size="cta">
        <div class="textFlow text-center @md/text-left">
            <Typografic as="h2" theme="theme2" size="superTitleSub" >Tienes un negocio y quieres a dar a conocer tus servicios en internet</Typografic>
            <Button as="a" theme="theme2">Contactar</Button>
        </div>
        <img src="/img/cta.svg" alt="cta accion">
    </Split>
</SectionPage>