---
import Button from "@/components/Atoms/Button.astro";
import Typografic from "@/components/Typografic.astro";
import SectionPage from "@/components/ui/SectionPage.astro";
import Wrapper from "@/components/ui/Wrapper.astro";


---

<SectionPage>
    <Wrapper>
        <div>
            <Typografic as="h1">Tienes un negocio y quieres a dar a conocer en internet</Typografic>
            <Button as="a">Contactar</Button>
        </div>
        <img src="" alt="">
    </Wrapper>
</SectionPage>