

<section class="section-page">
  <div class="wrapper container loading-top">
    <h2 class="fs-title-1 color-white-000">
      ¿Tienes un negocio y quieres a dar a conocer tus servicios en internet?
    </h2>
    <a href="/#contacto" class="button button--primary">Contáctame</a>
  </div>
</section>

<style lang="scss">

  .container{
    text-align: center;
    
    border: 3px solid var(--blue-500);
    padding:  clamp(2.5rem, 3.4595vw + 1.6892rem, 4.5rem) 1rem;
    background-image: linear-gradient(90deg , #272D37 , transparent);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: .75rem;

    > * {
      max-width: 40ch;
      margin-inline: auto;
    }


  }


</style>