---
import Button from "@/components/Button.astro";
import LayoutWrapper from "@/components/LayoutWrapper.astro";
import SectionPage from "@/components/SectionPage.astro";
---

<SectionPage classUtilities="padding-section">
    <LayoutWrapper classBlock="nosotros-home__wrapper" classUtilities="grid-container" size="sm">
        <div class="textFlow">
            <header class="textFlow">
                <h2 class="title-2"><span>25 Años De Experiencia </span>en Balanzas
                </h2>
            </header>
            <p>Las Balanzas o Básculas son más que una herramienta de pesaje, nos ayuda a comprender el peso de cada objeto ya sea algo tan pequeño y valioso como el oro, como grandes camiones de carga larga que pesan toneladas, desde hace millones de años se utilizan para realizar intercambios de todo tipo valiéndonos del peso de cada objeto.</p>
            <Button href="https://ift.pe/" target="_blank" >Contactanos</Button>
        </div>
        <picture>
            <img src="/img/balanza4.webp" alt="" style="aspect-ratio: 1" />
        </picture>
    </LayoutWrapper>
</SectionPage>

<style lang="scss">

    @use '../scss/settings/' as *;
    .nosotros-home {
        &__wrapper {
            --grid-areas: "imagen" 
                            "content";
            --grid-columns: 1fr;
            align-items: center;

            > :nth-child(1){
                grid-area: content;  
            }

            > :nth-child(2){
                grid-area: imagen;  
            }

           @include media-Query(tablet) {
            --grid-columns: 1fr 1fr;
            --grid-areas: "content imagen";
           }
          
        }
    }
</style>