---
import Button from "@/components/Button.astro";
import SectionPage from "@/components/SectionPage.astro";
import Typografic from "@/components/Typografic.astro";
import Wrapper from "@/components/Wrapper.astro";


---
<SectionPage >
    <Wrapper classBlock="textFlow" align="center">
        <header class="text-center">
            <Typografic as="h1" variant="theme3" size="superTitle" weigth="700" >Titulo 3</Typografic>
        </header>
        <Typografic as="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus aperiam, obcaecati veniam autem pariatur est aspernatur deleniti voluptatibus recusandae atque, maiores ducimus. Quibusdam recusandae expedita deserunt maxime, incidunt magnam!</Typografic>
        <Button href="https://ift.pe/" target="_blank">Ver malla</Button>
    </Wrapper>
</SectionPage>
<SectionPage variant="theme2">
    <Wrapper classBlock="textFlow" style="--space: 1rem">
        <Typografic as="h2" variant="theme2" weigth="500" aling="center">Seccion 2</Typografic>
        <Typografic as="p" variant="theme1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus aperiam, obcaecati veniam autem pariatur est aspernatur deleniti voluptatibus recusandae atque, maiores ducimus. Quibusdam recusandae expedita deserunt maxime, incidunt magnam!</Typografic>
        <div >
            <Typografic as="p">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis quam nisi expedita!
            </Typografic>
            <Typografic as="p">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis quam nisi expedita!
            </Typografic>
        </div>
        <Button href="https://ift.pe/" target="_blank" variant="theme2" size="content" >Ver malla</Button>
    </Wrapper>
</SectionPage>
