---
import Button from "@/components/Button.astro";
import LayoutWrapper from "@/components/LayoutWrapper.astro";
import ListIconItem from "@/components/ListIconItem.astro";
import SectionPage from "@/components/SectionPage.astro";
import { Icon } from "astro-icon/components";
---

<SectionPage classUtilities="padding-section bg-color-primary-100">
    <LayoutWrapper classBlock="wordpress-newCourse__inner" classUtilities="grid-container">
        <div class="textFlow" style="--space: 1rem">
            <header class="textFlow" style="--space: .5rem">
                <small class="color-primary-600 fw-600 ">Nuevo Curso</small>
                <ul class="wordpress-newCourse__list | flex-container" >
                    <ListIconItem style="--flex-direction: row;">
                        <span>
                            <Icon name="clock" size={ 23 } color="var(--primary-600)" />
                        </span>
                        <small class="fs-">3 Meses</small>
                    </ListIconItem>
                    <ListIconItem style="--space: 0 ; --flex-direction: row;">
                        <span>
                            <Icon name="clasesVivo" size={ 23 } color="var(--primary-600)" />
                        </span>
                        <small>En Vivo</small>
                    </ListIconItem>
                </ul>
                <h2 class="title-2">WordPress desde Cero</h2>
            </header>
            <p>En este curso de Wordpress aprenderas a utilizar este programa para llevar a cabo la gestion y diseño de contenidos creativos y de alto impacto</p>
            <Button href="https://ift.pe/" target="_blank" style="--space: 1.5rem">Ver malla</Button>
        </div>
        <picture class="wordpress-newCourse__imagen">
            <img src="/img/1.webp" class="aspect-ratio-box border-radius-2" alt="" />
        </picture>
    </LayoutWrapper>
</SectionPage>

<style lang="scss">

    @use '../scss/settings/' as *;
    .wordpress-newCourse {
        &__inner {
            --grid-areas: "imagen" 
                            "content";
            --grid-columns: 1fr;
            text-align: center;
            

            > :nth-child(1){
                grid-area: content;  
            }

            > :nth-child(2){
                grid-area: imagen;  
            }

           @include media-Query(tablet) {
                --grid-columns: 1fr 1fr;
                --grid-areas: "imagen content";
                align-items: center;
                text-align: start;
           }
        }

        &__imagen{
            width: 80%;
            margin-inline: auto;

            @include media-Query(tablet) {
                width: 100%;
                margin-inline: 0;
            }
        }

        &__list{
            justify-content: center;
            --flex-gap: 1rem;

            @include media-Query(tablet) {
                justify-content: start;
            }
        }
    }
</style>
