---
import Button from "@/components/Button.astro";
import CardContent from "@/components/Card/Card-Content.astro";
import Card from "@/components/Card/Card.astro";
import LayoutWrapper from "@/components/LayoutWrapper.astro";
import SectionPage from "@/components/SectionPage.astro";
---

<SectionPage classUtilities="padding-section bg-color-primary-100">
    <LayoutWrapper>
        <h2 class="title-section text-center">Productos</h2>
        <div class="Products__inner">
        {
            "123456".split("").map((_, index) => (
                <Card {...(index %2 ===1 && {textAlert: "Oferta"})}>
                    <picture>
                        <img
                            src="https://asocieperu.com/wp-content/uploads/2021/08/balanza-acu-economica-30kg-300x300.jpg"
                            class="aspect-ratio-box "
                            alt="balanza"
                        />
                    </picture>
                    <CardContent>
                        <h3 class="fw-600 line-heigth-normal">
                            Balanza De Plataforma e-Accura PQ2 De 200 Kilos
                        </h3>
                        <span class="fs-title3 fw-600">
                            S/ 320{" "}
                            <del class="fs-small fw-400 margin-inline-start-8 color-neutral-500">
                                S/ 350
                            </del>
                        </span>
                        <Button style={{ width: "fit-content" }}>
                            Ver detalles
                        </Button>
                    </CardContent>
                </Card>
            ))
        }
        </div>
    </LayoutWrapper>
</SectionPage>

<style lang="scss">
    @use "../scss/settings/" as *;
    .Products {
        &__inner {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;

            @include media-Query(tablet) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-Query(desktop) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
</style>
